h1{
    text-align: center;
}

.divs{
    display: flex;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    text-align: center;
}
.div{
    display: flex;
    justify-content: center;
}

#div1{
    background-color: orange;
}

#div2{
    background-color: white;
}

#div3{
    background-color: blue;
}

#div4{
    background-color: green;
}
#div5{
    background-color: grey;
}